@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
       <h3>Home</h3>
       <p>Welkom op onze site.

 

<p>Deze site is gemaakt voor de geïnteresseerden in criminaliteit binnen Rotterdam. Als het neerkomt op criminaliteit wordt er bedoelt fietsendiefstal en straatroof.</p> 
De site is verdeeld in twee delen:

<p>Het eerste deel is ‘Criminaliteit in Rotterdam’. Hierin wordt de hoeveelheid straatroven en fietsendiefstal getoond met behulp van grafieken. Ook kunt u gelijk de hoeveelheid straatroven en fietsendiefstal per district zien.
Het tweede deel is ‘Weer en criminaliteit’. Hier kunt u de gegevens vinden van straatroof en fietsendiefstal in combinatie met de weeromstandigheid. Dit kan ook gevonden worden per district.</p>
</div>

