@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
       <h3> Hier komt de informatie over wat onze site/app is en wat ze hier kunnen vinden en doen.</h3>
</div>

