@{
    ViewData["title"] = "criminaliteit in Rotterdam";
}


<h3> Hier komt al de informatie en de graphs</h3>
   
   @await Html.PartialAsync("_map")

   <canvas id="chart" width="400" height="200"></canvas>
   <select id="selectYear" onchange="getNewData();">
       <option value="">Alle jaren</option>
       <option value="2011">2011</option>
       <option value="2012">2012</option>
   </select>

   <select id="selectType" onchange="getNewData();">
       <option value="GetStreetCrimeData">Straatroof</option>
       <option value="GetBicycleCrimesData">Fietsendiefstal</option>
   </select>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="~/js/criminal.js"></script>