@{
    ViewData["title"] = "criminaliteit in Rotterdam";
    var districts = ViewData["districts"];
    var months = ViewData["months"];
}

<!--<div class="row">
    <div class="col-md-12">
        <h3>Klik op de markers om een disctrict/wijk te kunnen kiezen, Rechts van de map kunt u filteren op wat u wilt zien.</h3>
    </div>
</div> -->

<h3> Hier komt al de informatie en de graphs</h3>
<style>
 #map {
   width: 50%;
   height: 750px;
 }
</style>
   <!-- <div id="map"></div> -->
   <canvas id="chart" width="400" height="200"></canvas>
   <select id="selectYear">
       <option value="">Alle jaren</option>
       <option value="2011">2011</option>
       <option value="2012">2012</option>
   </select>

   <select id="selectType">
       <option value="">Alles</option>
       <option value="GetStreetCrimeData">Straatroof</option>
       <option value="GetBicycleCrimesData">Fietsendiefstal</option>
   </select>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script>

    $(document).ready(function() {
        getStreetCrimes();
        GetBicycleCrimes();
    });
function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12.2,
            center: {lat: 51.924, lng: 4.477}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = '1234567891011';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    var locations = [
        {lat: 51.916, lng: 4.398},
        {lat: 51.912, lng: 4.349},
        {lat: 51.904, lng: 4.509},
        {lat: 51.938, lng: 4.431},
        {lat: 51.952, lng: 4.489},
        {lat: 51.893, lng: 4.523},
    ]

    var ctx = $("#chart");
    var districts = JSON.parse('@Html.Raw(districts)');
    var months = JSON.parse('@Html.Raw(months)');

        var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: districts,
            datasets: []
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    $("#selectYear").change(function() {
        var year = this.value;
        clearChartData();
        getStreetCrimes(year);
        GetBicycleCrimes(year);
    });

    function getStreetCrimes(year = "")
    {
        $.getJSON("/criminal/GetStreetCrimeData/" + year, function(crimeData) {
            addChartData("Straatroof", crimeData, "blue")
        });
    }

    function GetBicycleCrimes(year = "")
    {
        $.getJSON("/criminal/GetBicycleCrimesData/" + year, function(crimeData) {
            addChartData("Fietsendiefstal", crimeData, "red")
        });
    }

    function addChartData(label, data, backgroundColor)
    {
        var dataset = {
                label: label,
                data: data,
                backgroundColor: backgroundColor
            }
        chart.data.datasets.push(dataset);
        chart.update();
    }

    function clearChartData()
    {
        chartData = [];
        chart.data.datasets = [];
        chart.update();
    }


</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX-JucsIHReIlEkpq6mWQaEzmQAWeRzco&callback=initMap">

</script>
    </div>