@{
    ViewData["title"] = "Test page";
    var districts = ViewData["districts"];
}
<p>Dit is een test</p>

<script>
    var json = JSON.parse('@Html.Raw(districts)');
    console.log(json);
</script>