@{
    ViewData["title"] = "Test page";
    var districts = ViewData["districts"];
    var streetCrime = ViewData["streetCrimes"];
    var bicycleCrimes = ViewData["bicycleCrimes"];

    
}
<p>Dit is een test</p>

<canvas id="chart" width="400" height="200"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var districts = JSON.parse('@Html.Raw(districts)');
    var streetCrime = JSON.parse('@Html.Raw(streetCrime)');
    var bicycleCrimes = JSON.parse('@Html.Raw(bicycleCrimes)');

        var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: districts,
            datasets: [{
                label: "Staatroof",
                data: streetCrime,
                backgroundColor: "blue"
            },
            {
                label: "Fietsendiefstal",
                data: bicycleCrimes,
                backgroundColor: "red"
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

</script>